/*#header {
	width=100%;
	margin-top: 29px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
	font-size: 12px;
}

#happy-day {
	padding-left: 50px;
	color: #999999;
}
*/

#instructions {
	font-family: Helvetica;
	font-size: 40px;
	text-align: center;
	margin-top: 200px;
}

#yourNumber {
	margin: 0 auto;
	width: 90px;
}

#theNumber {
	width: 68px;
	font-family: Helvetica;
	font-size: 40px;
	margin-left: 15px; 
}

#button {
	width: 100px;
	margin-top: 15px;
}

#currentStatus {
	font-family: Helvetica;
	font-size: 40px;
	text-align: center;
}

#arrows {
	margin-left: 10px;
}

#upArrow {
	position: absolute;
}

#downArrow {
	position: absolute;
}

#correct {
	position: absolute;
}

#invalidEntry {
	font-family: Helvetica;
	text-align: center;
	color: red;
	font-weight: bold;
}

#numbersGuessed {
	text-align: center;
	font-family: Helvetica;
	padding-top: 95px;
}
